body {
  margin: 0;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  background: #eee;
  color: #444;
}

h1, h2{
	border-left: 3px solid #f36d33;
	padding-left: 10px;
}

p {
    padding-left: 12px;
}

li{
	list-style: none;
	position: relative;
    padding: 5px 0 5px 20px;
}
li:before {
	content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: 16px;
    height: 16px;
    overflow: hidden;
	background: url(../img/list_red.svg);
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.resume {
  box-sizing: border-box;
  padding: 2rem 5rem;
  max-width: 1024px;
  margin: 0 auto;
}

.resume-name {
	display: flex;
	align-items: end;
}

.resume-name img{
	height: 50px;
	width: 50px;
	margin-left: 20px;
	border-radius: 50%;
	box-shadow: 3px 3px 10px -6px rgba(0,0,0,0.8);
}

code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #444;
    page-break-inside: avoid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}